@charset "utf-8";
/* CSS Document */

/* DESIGN TOPNAV (mainmenu) */
.topnav { padding:42px 0; float:right; width:auto; height:35px; font-size:14px; line-height:14px;}
/* level 0 */
.topnav ul { margin:0; padding:0; float:left; width:auto; height:35px;}
.topnav ul li { margin:0; padding:0 2px 0 0; float:left;}
.topnav ul li a { padding:9px 24px 10px; float:left; font-weight:normal; position:relative; color:#404040; text-decoration:none; background:url(images/menu.gif) no-repeat 11px center;}
.topnav ul li.current_page_item { }					/* active item first level */
.topnav ul li.current_page_item a,
.topnav ul li a.a_hover_main { color:#fff; background: #00ad92;}						/* on hover */
/* level 1 */
.topnav ul li ul { padding:4px 0; top:33px; left:0; height:auto; background-color:#343434; border:1px solid #101010;}			/* position of submenu */
.topnav ul li ul li { margin:0; padding:0; background:none;}
.topnav ul li ul li a { padding:10px 24px; width:122px; font-size:12px; font-weight:normal; color:#32d9ed; background:url(images/menu_li.gif) no-repeat 11px center;}
.topnav ul li ul li a.have_submenu { }																/* if item have submenu */
.topnav ul li ul li a:hover,
.topnav ul li ul li a.have_submenu_hover { color:#101010; background:#ddd url(images/menu_la.gif) no-repeat 11px center;;}
.topnav ul li ul li ul { padding:4px 0; top:-5px; left:170px;}	/* position of submenu level 2 */

/* DESIGN NAV1 (categories) */
#nav1 { padding:4px 0 5px; font-size:14px; line-height:14px; height:35px;}
/* level 0 */
#nav1 ul { margin:0; padding:0; float:left; width:auto; height:35px;}
#nav1 ul li { margin:0 8px 0 0; padding:0; float:left;}
#nav1 ul li a { display:block; margin:0; padding:9px 20px 9px; color:#979797; text-decoration:none; background:none; border:1px solid transparent;}
#nav1 ul li.current-cat { }							/* active item first level */
#nav1 ul li.current-cat a,
#nav1 ul li a.a_hover_main { color:#131313; background:#d9d9d9 url(images/nav_a.gif) repeat-x left top; border-left:1px solid #d5d5d5; border-top:1px solid #d5d5d5; border-right:1px solid #fff; border-bottom:1px solid #fff;}				/* on hover */
/* level 1 */
#nav1 ul li ul { margin:0; padding:4px 0; width:170px; height:auto; top:33px; left:0px; font-size:14px; line-height:14px; background:#fff; border:1px solid #d5d5d5;}				/* position of submenu */
#nav1 ul li ul li { margin:0; padding:0; float:none;}
#nav1 ul li ul li a { padding:8px 20px; color:#939393; background:url(images/nav_ip.gif) no-repeat 8px center; border:none;}
#nav1 ul li ul li a.have_submenu { }																/* if item have submenu */
#nav1 ul li ul li a:hover,
#nav1 ul li ul li a.have_submenu_hover { color:#101010; text-decoration:none; background:#bbb url(images/nav_ia.gif) no-repeat 8px center; border:none;}
#nav1 ul li ul li ul { top:-5px; left:170px;}		/* position of submenu level 2 */


#nav1 * { z-index:500;}
.topnav * { z-index:1001;}



/* DO NOT EDIT!!! */
ul.menusm { list-style:none;}
ul.menusm li { cursor:pointer; position:relative;}
ul.menusm li a { position:relative;}
ul.menusm li ul { display:none; position:absolute; list-style:none;}
ul.menusm li ul li ul { position:absolute; list-style:none;}
