﻿<%@ Control Language="C#" CodeBehind="LienKet.ascx.cs" Inherits="BanDienThoai.DynamicData.FieldTemplates.LienKet" %>

<table style="border: 1px solid rgb(238, 238, 238);" cellpadding="2" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="border: 1px solid rgb(173, 167, 154);" align="center" width="100%" height="32">
               <%-- <select size="1" name="link" onchange="Links()">
                    <option>Liên kết website</option>
                    <option value="http://www.vnexpress.net">Báo Vnexpress</option>
                    <option value="http://www.dantri.com.vn">Báo Dân trí</option>
                    <option value="http://www.cand.com.vn">Báo Công an nhân dân</option>
                    <option value="http://www.vir.com.vn">Báo Đầu tư</option>
                    <option value="http://www.gdtd.com.vn">Báo giáo dục thời đại</option>
                    <option value="http://www.hanoimoi.com.vn">Báo Hà Nội mới</option>
                </select>--%>
                <select class="links" name="choice" onchange="if(this.options[selectedIndex].value!=0){ window.open(this.options[selectedIndex].value)}">
                    	<option value="http://www.tuoitre.com.vn">Báo Tu&#7893;i Tr&#7867;</option>
                    	<option value="http://www.nld.com.vn">Báo NL&#272;</option>
                    	<option value="http://www.laodong.com.vn">Báo Lao &#272;&#7897;ng</option>
                    	<option value="http://www.antd.vn">Báo An ninh Th&#7911; &#273;ô</option>
                    	<option value="http://www.baonghean.vn">Báo Ngh&#7879; An</option>
                    	<option value="http://www.baolaocai.vn">Báo Lào Cai</option>		
	            </select>
            </td>
        </tr>
       <script>
	        function Links(){
	            var link = link.value;  
	            window.open(link);
	        }
        </script>
    </tbody>
</table>
